/* spin loader */
.spin_loader {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-width: 3px;
  border-top-width: 3px;
  border-top-color: #36D7B7;
  border: solid rgba(255,255,255,0.35);
  border-radius: 50%;
  border-top: solid;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
